body{
	background: gray;
	color: #EEE;
	font-family: Arial;
	font-size: 16px;
}

header{
	background:  url(banner.png);
	margin: 0 0 1em 0;
	padding: 0.5em 0;
	width: 100%;

}

header h1{
	font-size: 2em;
	margin: 0;
}

header h2{
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}